In [1]:
# Import Important Module
import numpy as np 
import pandas as pd
from datetime import date

In [2]:
# Load Dataset
data = pd.read_csv("2019_nCoV_data.csv",parse_dates=["Date"])
data.drop('Sno',axis=1,inplace=True)

# Change name of country from "Mainland China" to "China"
data.replace(to_replace='Mainland China',value='China', inplace=True)
data.head()

,Date,Province/State,Country,Last Update,Confirmed,Deaths,Recovered
0,2020-01-22 12:00:00,Anhui,China,01/22/2020 12:00:00,1.0,0.0,0.0
1,2020-01-22 12:00:00,Beijing,China,01/22/2020 12:00:00,14.0,0.0,0.0
2,2020-01-22 12:00:00,Chongqing,China,01/22/2020 12:00:00,6.0,0.0,0.0
3,2020-01-22 12:00:00,Fujian,China,01/22/2020 12:00:00,1.0,0.0,0.0
4,2020-01-22 12:00:00,Gansu,China,01/22/2020 12:00:00,0.0,0.0,0.0

In [3]:
# Number of countries are effected due to corona virus
countryList = data['Country'].unique().tolist()
print("\nTotal countries affected by virus: ",len(countryList))

Total countries affected by virus:  33

In [4]:
# Get latest date and convert that date into string to find out year,month and day
d = data['Date'][-1:].astype('str')

year = int(d.values[0].split('-')[0])
month = int(d.values[0].split('-')[1])
day = int(d.values[0].split('-')[2].split()[0])

# Generate latest datetime(i.e. Last Date) in pandas series type
latestDate = pd.Timestamp(date(year,month,day))

# Get only data which hase more than latest datetime
data_latest = data[data['Date'] > latestDate]
data_latest.head()

,Date,Province/State,Country,Last Update,Confirmed,Deaths,Recovered
1494,2020-02-15 22:00:00,Hubei,China,2020-02-15T23:13:05,56249.0,1596.0,5623.0
1495,2020-02-15 22:00:00,Guangdong,China,2020-02-15T14:03:04,1294.0,2.0,410.0
1496,2020-02-15 22:00:00,Henan,China,2020-02-15T12:13:08,1212.0,13.0,391.0
1497,2020-02-15 22:00:00,Zhejiang,China,2020-02-15T11:23:17,1162.0,0.0,428.0
1498,2020-02-15 22:00:00,Hunan,China,2020-02-15T13:03:04,1001.0,2.0,425.0

In [5]:
# Total no of confirmed cases for every country
cases = pd.DataFrame(data_latest.groupby('Country')['Confirmed','Deaths','Recovered'].sum())
cases.sort_values(by=['Confirmed'],ascending=False)

                      Confirmed  Deaths  Recovered
Country
China                   68347.0  1662.0     9294.0
Others                    285.0     0.0        0.0
Singapore                  72.0     0.0       18.0
Hong Kong                  56.0     1.0        1.0
Japan                      43.0     1.0       12.0
Thailand                   33.0     0.0       12.0
South Korea                28.0     0.0        9.0
Malaysia                   22.0     0.0        7.0
Taiwan                     18.0     0.0        2.0
Vietnam                    16.0     0.0        7.0
Germany                    16.0     0.0        1.0
US                         15.0     0.0        3.0
Australia                  15.0     0.0        8.0
France                     12.0     1.0        4.0
Macau                      10.0     0.0        3.0
UK                          9.0     0.0        1.0
United Arab Emirates        8.0     0.0        3.0
Canada                      7.0     0.0        1.0
Italy                       3.0     0.0        0.0
India                       3.0     0.0        0.0
Philippines                 3.0     1.0        1.0
Spain                       2.0     0.0        2.0
Russia                      2.0     0.0        2.0
Sri Lanka                   1.0     0.0        1.0
Sweden                      1.0     0.0        0.0
Egypt                       1.0     0.0        0.0
Finland                     1.0     0.0        1.0
Cambodia                    1.0     0.0        1.0
Belgium                     1.0     0.0        0.0
Nepal                       1.0     0.0        1.0

In [6]:
# A look at the different cases - confirmed, death and recovered
print('Globally Confirmed Cases: ',data_latest['Confirmed'].sum())
print('Global Deaths: ',data_latest['Deaths'].sum())
print('Globally Recovered Cases: ',data_latest['Recovered'].sum())

Globally Confirmed Cases:  69032.0
Global Deaths:  1666.0
Globally Recovered Cases:  9395.0

In [7]:
# Various Provinces/States affected
data_latest.groupby(['Country','Province/State']).sum()

                                        Confirmed  Deaths  Recovered
Country   Province/State
Australia New South Wales                     4.0     0.0        4.0
          Queensland                          5.0     0.0        0.0
          South Australia                     2.0     0.0        0.0
          Victoria                            4.0     0.0        4.0
Canada    British Columbia                    4.0     0.0        0.0
          London, ON                          1.0     0.0        1.0
          Toronto, ON                         2.0     0.0        0.0
China     Anhui                             950.0     6.0      221.0
          Beijing                           375.0     4.0       98.0
          Chongqing                         544.0     5.0      184.0
          Fujian                            285.0     0.0       71.0
          Gansu                              90.0     2.0       49.0
          Guangdong                        1294.0     2.0      410.0
          Guangxi                           235.0     2.0       44.0
          Guizhou                           143.0     1.0       41.0
          Hainan                            162.0     4.0       39.0
          Hebei                             291.0     3.0      101.0
          Heilongjiang                      425.0    11.0       68.0
          Henan                            1212.0    13.0      391.0
          Hubei                           56249.0  1596.0     5623.0
          Hunan                            1001.0     2.0      425.0
          Inner Mongolia                     68.0     0.0        7.0
          Jiangsu                           604.0     0.0      186.0
          Jiangxi                           913.0     1.0      210.0
          Jilin                              88.0     1.0       26.0
          Liaoning                          119.0     1.0       31.0
          Ningxia                            70.0     0.0       33.0
          Qinghai                            18.0     0.0       13.0
          Shaanxi                           232.0     0.0       60.0
          Shandong                          532.0     2.0      156.0
          Shanghai                          326.0     1.0      124.0
          Shanxi                            128.0     0.0       46.0
          Sichuan                           470.0     1.0      119.0
          Tianjin                           122.0     3.0       37.0
          Tibet                               1.0     0.0        1.0
          Xinjiang                           70.0     1.0       10.0
          Yunnan                            168.0     0.0       42.0
          Zhejiang                         1162.0     0.0      428.0
Hong Kong Hong Kong                          56.0     1.0        1.0
Macau     Macau                              10.0     0.0        3.0
Others    Diamond Princess cruise ship      285.0     0.0        0.0
Taiwan    Taiwan                             18.0     0.0        2.0
US        Boston, MA                          1.0     0.0        0.0
          Chicago, IL                         2.0     0.0        2.0
          Los Angeles, CA                     1.0     0.0        0.0
          Madison, WI                         1.0     0.0        0.0
          Orange, CA                          1.0     0.0        0.0
          San Antonio, TX                     1.0     0.0        0.0
          San Benito, CA                      2.0     0.0        0.0
          San Diego County, CA                2.0     0.0        0.0
          Santa Clara, CA                     2.0     0.0        0.0
          Seattle, WA                         1.0     0.0        1.0
          Tempe, AZ                           1.0     0.0        0.0

In [8]:
# Death Case
deathFilter = pd.DataFrame(data_latest.groupby('Country')['Deaths'].sum().sort_values(ascending=False))
deathFilter[deathFilter['Deaths']>0]

             Deaths
Country
China        1662.0
France          1.0
Hong Kong       1.0
Philippines     1.0
Japan           1.0

In [9]:
# Recovery Case
recoveryFilter = pd.DataFrame(data_latest.groupby('Country')['Recovered'].sum().sort_values(ascending=False))
recoveryFilter[recoveryFilter['Recovered']>0]

                      Recovered
Country
China                    9294.0
Singapore                  18.0
Japan                      12.0
Thailand                   12.0
South Korea                 9.0
Australia                   8.0
Vietnam                     7.0
Malaysia                    7.0
France                      4.0
US                          3.0
United Arab Emirates        3.0
Macau                       3.0
Taiwan                      2.0
Russia                      2.0
Spain                       2.0
Hong Kong                   1.0
Cambodia                    1.0
Canada                      1.0
Finland                     1.0
Germany                     1.0
Sri Lanka                   1.0
UK                          1.0
Nepal                       1.0
Philippines                 1.0

In [10]:
# Confirm Case
confirmFilter = pd.DataFrame(data_latest.groupby('Country')['Confirmed'].sum().sort_values(ascending=False))
confirmFilter[confirmFilter['Confirmed']>0]

                      Confirmed
Country
China                   68347.0
Others                    285.0
Singapore                  72.0
Hong Kong                  56.0
Japan                      43.0
Thailand                   33.0
South Korea                28.0
Malaysia                   22.0
Taiwan                     18.0
Germany                    16.0
Vietnam                    16.0
Australia                  15.0
US                         15.0
France                     12.0
Macau                      10.0
UK                          9.0
United Arab Emirates        8.0
Canada                      7.0
Italy                       3.0
India                       3.0
Philippines                 3.0
Russia                      2.0
Spain                       2.0
Sri Lanka                   1.0
Finland                     1.0
Egypt                       1.0
Nepal                       1.0
Cambodia                    1.0
Belgium                     1.0
Sweden                      1.0